<header id="header" class="fixed-top header-transparent" th:fragment="header">
    <!DOCTYPE html>
    <html lang="ko" xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="/js/jquery-3.2.1.min.js"></script>

        <th:block sec:authorize="isAuthenticated()">
            <script>
                function deleteAlarm(id) {
                    console.log(id);
                    $(id).remove();

                    console.log(parent);
                }

                $(function () {
                    const sse = new EventSource("http://3.34.153.127:8080/alarm/subscribe?userId=" + $("#userName").val());
                    sse.addEventListener('subscribe', (e) => {
                        const {data: receivedConnectData} = e;
                        console.log('connect event data: ', receivedConnectData);  // "connected!"
                    });

                    sse.addEventListener('alarm', (e) => {
                        const {data: receivedData} = e;

                        let data = JSON.parse(receivedData);
                        let randomId = Math.random().toString(36).substring(2, 12);
                        let toastDiv = "";

                        toastDiv += '<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false" id=' + randomId + '>';
                        toastDiv += '   <div class="toast-header">';
                        toastDiv += '       <strong class="me-auto">' + data.title + '</strong>';
                        toastDiv += '       <small class="text-muted">' + data.createdAt + '</small>';
                        toastDiv += '       <button type="button" onclick="deleteAlarm(' + randomId + ')" class="btn-close" data-bs-dismiss="toast" aria-label="Close" ></button>';
                        toastDiv += '   </div>';
                        toastDiv += '   <div class="toast-body">' + data.body + '</div>';
                        toastDiv += '</div>';

                        $(".toast-container").append(toastDiv);
                        $(".toast").toast('show');
                    });


                    $(document).on("mouseover", "#dropAlarm", function () {
                        $.ajax({
                            type: "get",
                            url: "/user/alarm",
                            dataType: "JSON",
                            success: function (result) {
                                console.log(result);
                                let alarmList = "";
                                for (let alarmListElement of result) {
                                    console.log(alarmListElement);
                                    console.log(alarmListElement.noteId)
                                    console.log(alarmListElement.boardId)
                                    console.log(alarmListElement.alarmType)
                                    console.log(alarmListElement.sendUser)
                                    if (alarmListElement.noteId == null) {
                                        alarmList += '<li><a href="/board/read/' + alarmListElement.boardId + '/1/' + alarmListElement.commentId + '">' + '[' + alarmListElement.alarmType + '] ' + alarmListElement.boardId + ' 번 게시물에 댓글이 달렸습니다! </a></li>';
                                    } else {
                                        alarmList += '<li><a href="/note/read/' + alarmListElement.noteId + '/1">' + '[' + alarmListElement.alarmType + '] ' + alarmListElement.sendUser + ' 님에게 쪽지가 왔습니다! </a></li>';
                                    }
                                }
                                $("#alarmList").html(alarmList);
                            },
                            error: function (request, status, error) {
                                alert("ajax 실행 실패");
                                alert("code:" + request.status + "\n" + "error :" + error);
                            }
                        });
                    });


                });
            </script>
        </th:block>
    </head>
    <body>

    <!-- 토스트!! -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
    </div>

    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a th:href="@{/}"><img src="/assets/img/logo.png" alt="" class="img-fluid"></a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li class="we"><a class="nav-link scrollto active" th:href="@{/whoWeAre}">WHO WE WRE</a></li>
                <li><a class="nav-link scrollto active" th:href="@{/StudyBoard/StudyBoardMain}">스터디</a></li>
                <li class="dropdown"><a href="#">게시판&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <ul>
                        <li><a th:href="@{/board/list(category='FREE_BOARD')}">자유 게시판</a></li>
                        <li><a th:href="@{/board/list(category='INFORMATION_BOARD')}">정보 게시판</a></li>
                        <li><a th:href="@{/board/list(category='CONTEST_BOARD')}">소작모</a></li>
                        <li><a th:href="@{/board/list(category='EVENT_BOARD')}">행사게시판</a></li>
                    </ul>
                </li>
                <li>
                    <button onclick="myFunction()" class="dark">다크모드</button>
                </li>
                <li><a class="nav-link scrollto active" th:href="@{/board/list(category='NOTICE_BOARD')}">공지사항</a></li>
                <th:block sec:authorize="!isAuthenticated()">
                    <li><a class="nav-link scrollto" th:href="@{/user/loginForm}">로그인</a></li>
                    <li><a class="nav-link scrollto" th:href="@{/user/joinForm}">회원가입</a></li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <input type="hidden" th:value="${#authentication.name}" id="userName">
                    <li class="dropdown"><a href="#" id="dropAlarm"><img src="/assets/img/bell.png" alt="bell"
                                                                         style="height: 40px; width: 40px">
                        <i class="bi bi-chevron-down"></i></a>
                        <ul id="alarmList">

                        </ul>
                    </li>

                    <li class="dropdown"><a href="#"><img src="/assets/img/footprint.png" alt=""
                                                          style="height: 40px; width: 40px">
                        <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a th:href="@{/user/myPage}">마이페이지</a></li>
                            <li><a href="/user/logout">로그아웃</a></li>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <li><a th:href="@{/admin/adminMain}">관리자페이지</a></li>
                            </th:block>
                        </ul>
                    </li>
                </th:block>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
    </body>
    </html>
</header><!-- End Header -->



