<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<header id="header" class="fixed-top header-transparent" th:fragment="header">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a th:href="@{/}"><img src="/assets/img/logo.png" alt="" class="img-fluid"></a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li class="we"><a class="nav-link scrollto active" href="#hero">WHO WE WRE</a></li>
                <li><a class="nav-link scrollto active" href="/StudyBoard/StudyBoardMain">스터디</a></li>
                <li class="dropdown"><a href="#">게시판&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <ul>
                        <li><a th:href="@{/board/list(category='FREE_BOARD')}">자유 게시판</a></li>
                        <li><a th:href="@{/board/list(category='INFORMATION_BOARD')}">정보 게시판</a></li>
                        <li><a th:href="@{/board/list(category='CONTEST_BOARD')}">소작모</a></li>
                        <li><a th:href="@{/board/list(category='EVENT_BOARD')}">행사게시판</a></li>
                    </ul>
                </li>
                <li>
                    <button onclick="myFunction()" class="dark">다크모드</button>
                </li>
                <li><a class="nav-link scrollto active" th:href="@{/board/list(category='NOTICE_BOARD')}">공지사항</a></li>

                <th:block sec:authorize="!isAuthenticated()">
                    <li><a class="nav-link scrollto" th:href="@{/user/loginForm}">로그인</a></li>
                    <li><a class="nav-link scrollto" th:href="@{/user/joinForm}">회원가입</a></li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                <li><a class="nav-link scrollto" href="#about"><img src="/assets/img/bell.png" alt="bell"
                                                                    style="height: 40px; width: 40px"></a></li>
                    <li class="dropdown"><a href="#"><img src="/assets/img/footprint.png" alt="" style="height: 40px; width: 40px"><i
                            class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a th:href="@{/user/myPage}">마이페이지</a></li>
                            <li><a href="/user/logout">로그아웃</a></li>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <li><a th:href="@{/admin/adminMain}">관리자페이지</a></li>
                            </th:block>
                        </ul>
                    </li>
                </th:block>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->


</body>
</html>