<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>게시글 작성</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- Favicons -->
    <link href="/assets/img/jamboLogo.ico" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Baker - v4.9.1
    * Template URL: https://bootstrapmade.com/baker-free-onepage-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <style>

        body {
            font-family: Arial;
            margin: 0;
        }

        * {
            box-sizing: border-box;
        }

        img {
            vertical-align: middle;
        }

        .main_container {
            width: 100%;
        }

        .main_container .mySlides img {
            vertical-align: middle;
            height: 550px;
        }

        .column img {
            height: 90px;
        }

        /* Position the image container (needed to position the left and right arrows) */
        .container {
            position: relative;
        }

        /* Hide the images by default */
        .mySlides {
            display: none;
            padding-top: 60px;
        }

        /* Add a pointer when hovering over the thumbnail images */
        .cursor {
            cursor: pointer;
        }

        /* Next & previous buttons */
        .next {
            cursor: pointer;
            position: absolute;
            top: 30%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }

        .prev {
            cursor: pointer;
            position: absolute;
            top: 30%;
            width: auto;
            padding: 200px 10px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
            padding: 200px 10px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgb(252 218 77);;
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* Container for image text */
        .caption-container {
            text-align: center;
            background-color: #fff;
            padding: 5px;
            color: white;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Six columns side by side */
        .column {
            float: left;
            width: 16.66%;
        }

        /* Add a transparency effect for thumnbail images */
        .demo {
            opacity: 0.6;
        }

        .active,
        .demo:hover {
            opacity: 1;
        }

        .container {
            max-width: 80%;
            padding: 0px;
        }
    </style>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0"/>
    <link rel="stylesheet" href="/studyBoard/studyBoard.css"/>

    <!--    summber note 관련 테그-->

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>


    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
    <script src="/studyBoard/summerNote/summernote-ko-KR.js"></script>

    <!--    summber note 관련 테그 끝-->

    <!-- 새로운폼 css -->
    <link href="/studyBoard/css/css.css" rel="stylesheet">
    <link href="/studyBoard/css/style.css" rel="stylesheet">

    <!-- 끝-->


    <!-- 기술스택 관련 js -->
    <script type="text/javascript">

        function ChangeValue() {
            let stackName = document.getElementById("stack");
            let stackValue = stackName.value;

            $("#stack").find("[value=" + stackValue + "]").remove();

            $("#myStack").after("<span class='stack' id='" + stackValue + "'>" + stackValue + "<input type='button'  class='stackBtn' value='Delete'/>" +
                "<input type='text' name='techStacks' value='" + stackValue + "' hidden></span>");
        }

        $(function () {

            $(document).on("click", "input[value=Delete]", function () {
                let id = $(this).parent().attr("id");

                $(this).parent().remove();

                $("#stackDefault").next().html("<option value='" + id + "'>" + id + "</option>");

            });

            $(document).on("click", "")
        });
    </script>

</head>

<body>
<!--헤더-->
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a th:href="@{/}"><img src="/assets/img/logo.png" alt="" class="img-fluid" style="width: 58px; height: 70px"></a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li class="we"><a class="nav-link scrollto active" href="#hero">WHO WE WRE</a></li>
                <li><a class="nav-link scrollto active" href="/StudyBoard/StudyBoardMain">스터디</a></li>
                <li class="dropdown"><a href="#">게시판&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <ul>
                        <li><a th:href="@{/board/list(category='FREE_BOARD')}">자유 게시판</a></li>
                        <li><a th:href="@{/board/list(category='INFORMATION_BOARD')}">정보 게시판</a></li>
                        <li><a th:href="@{/board/list(category='CONTEST_BOARD')}">소작모</a></li>
                        <li><a th:href="@{/board/list(category='EVENT_BOARD')}">행사게시판</a></li>
                    </ul>
                </li>
                <li>
                    <button onclick="myFunction()" class="dark">다크모드</button>
                </li>
                <li><a class="nav-link scrollto active" th:href="@{/board/list(category='NOTICE_BOARD')}">공지사항</a></li>
                <th:block sec:authorize="!isAuthenticated()">
                    <li><a class="nav-link scrollto" th:href="@{/user/loginForm}">로그인</a></li>
                    <li><a class="nav-link scrollto" th:href="@{/user/joinForm}">회원가입</a></li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <input type="hidden" th:value="${#authentication.name}" id="userName">
                    <li><a class="nav-link scrollto" href="#about"><img src="/assets/img/bell.png" alt="bell"
                                                                        style="height: 40px; width: 40px"></a></li>
                    <li class="dropdown"><a href="#"><img src="/assets/img/footprint.png" alt=""
                                                          style="height: 40px; width: 40px">
                        <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a th:href="@{/user/myPage}">마이페이지</a></li>
                            <li><a href="/user/logout">로그아웃</a></li>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <li><a th:href="@{/admin/adminMain}">관리자페이지</a></li>
                            </th:block>
                        </ul>
                    </li>
                </th:block>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>

<main id="main">
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
        <div class="container">

        </div>
    </section><!-- End Clients Section -->

    <!--Slideshow header-->
    <div class="main_container">
        <div class="mySlides">
            <div class="text">
            </div>
        </div>

        <div class="caption-container">
        </div>

        <div class="row">
            <div class="column">
            </div>
        </div>
    </div>

    <!--    -->




    <!---->


    <div class="board_wrap">
        <div class="board_title">
            <strong>스터디 모집 게시글 작성</strong>
            <p>여기는 스터디 게시판입니다.</p>
        </div>
        <form method="post" class="board-form" th:action="@{/StudyBoard/insert}">
            <input type="text" name="category" value="스터디게시판" hidden>
            <input type="text" name="category" value="모집중" hidden>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dt><input type="text" placeholder="제목 입력" name="title" required></dt>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>모집인원</dt>
                        <dt>
                            <select name="numberOfRecruits" required>
                            <option value="">모집인원</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        </dt>
                    </dl>
                    <dl>
                        <dt>스터디 시작일</dt>
                        <dt>
                            <input type="date" name="startDate" required>
                        </dt>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>모집방법</dt>
                        <dt>
                            <select name="supportMethod" required>
                                <option value="">선택해주세요</option>
                                <option value="오픈카톡">오픈카톡</option>
                                <option value="네이버폼">네이버폼</option>
                                <option value="이메일">이메일</option>
                                <option value="없음">없음</option>
                            </select>
                        </dt>
                    </dl>
                    <dl>
                        <dt>온라인/오프라인</dt>
                        <dt>
                            <select name="isOnline" required>
                                <option value="">선택해주세요</option>
                                <option value="오프라인">오프라인</option>
                                <option value="온라인">온라인</option>
                            </select>
                        </dt>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>프로젝트<br>기술스택</dt>
                        <dt>
                            <div>
                                <select name="stack" id="stack" onchange="ChangeValue()" required>
                                    <option value="0" id="stackDefault">선택해주세요</option>
                                    <option value="JavaScript">JavaScript</option>
                                    <option value="TypeScript">TypeScript</option>
                                    <option value="React">React</option>
                                    <option value="Vue">Vue</option>
                                    <option value="Nodejs">Nodejs</option>
                                    <option value="Spring">Spring</option>
                                    <option value="Java">Java</option>
                                    <option value="Nextjs">Nextjs</option>
                                    <option value="Express">Express</option>
                                    <option value="Go">Go</option>
                                    <option value="C">C</option>
                                    <option value="Python">Python</option>
                                    <option value="Django">Django</option>
                                    <option value="Swift">Swift</option>
                                    <option value="Kotlin">Kotlin</option>
                                    <option value="MySQL">MySQL</option>
                                    <option value="MongoDB">MongoDB</option>
                                    <option value="php">php</option>
                                    <option value="GraphQL">GraphQL</option>
                                    <option value="Firebase">Firebase</option>
                                    <option value="Unity">Unity</option>
                                    <option value="Flutter">Flutter</option>
                                    <option value="AWS">AWS</option>
                                    <option value="Kubernetes">Kubernetes</option>
                                    <option value="Docker">Docker</option>
                                    <option value="Git">Git</option>
                                    <option value="Figma">Figma</option>
                                    <option value="Zeplin">Zeplin</option>
                                </select>
                            </div>
                        </dt>
                    </dl>
                    <dl>
                        <dt>스터디 운용기간</dt>
                        <dt>
                            <select name="period" required>
                                <option value="" >선택해주세요</option>
                                <option value="1개월">1개월</option>
                                <option value="2개월">2개월</option>
                                <option value="3개월">3개월</option>
                                <option value="4개월">4개월</option>
                                <option value="5개월">5개월</option>
                                <option value="6개월">6개월</option>
                                <option value="7개월">7개월</option>
                                <option value="8개월">8개월</option>
                                <option value="9개월">9개월</option>
                                <option value="10개월">10개월</option>
                                <option value="11개월">11개월</option>
                                <option value="12개월">12개월</option>
                                <option value="1년 이상">1년 이상</option>
                            </select>
                        </dt>
                    </dl>
                </div>

                <div class="title">
                    <dl>
                        <span id="myStack"> </span>
                    </dl>
                </div>
                <div class="cont">
                    <textarea id="summernote" name="content"></textarea>
                </div>
            </div>

            <div class="bt_wrap">
                <input type="submit" value="글작성" class="on" id="submit">
                <a th:href="@{/StudyBoard/StudyBoardMain}">취소</a>
            </div>
        </div>
        </form>
    </div>
    <script>
        $('#summernote').summernote({
            height: 150,
            lang: "ko-KR",
            focus: true,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture']],
                ['view', ['help']]
            ],
            callbacks: { //여기 부분이 이미지를 첨부하는 부분
                onImageUpload: function (files, editor,
                                         welEditable) {
                    for (var i = files.length - 1; i >= 0; i--) {
                        uploadSummernoteImageFile(files[i],
                            this);
                    }
                }
            }
        });

        function uploadSummernoteImageFile(file, el) {
            data = new FormData();
            data.append("file", file);
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                data: data,
                type: "POST",
                url: "/uploadSummernoteImageFile",
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                success: function (data) {
                    $(el).summernote('editor.insertImage', data.url);
                    alert(url);

                },
                error: function () {
                    alert("ajax 실행 실패");
                }
            });
        }
    </script>

</main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer th:replace="../templates/common/footer.html ::footer">
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!--Slideshow header-->
<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("demo");
        let captionText = document.getElementById("caption");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

<script>
    function myFunction() {
        var element = document.body;
        element.classList.toggle("dark-mode");
    }
</script>

</body>

</html>