<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Main index page</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- Favicons -->
    <link href="/assets/img/jamboLogo.ico" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Baker - v4.9.1
    * Template URL: https://bootstrapmade.com/baker-free-onepage-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0"/>
    <link rel="stylesheet" href="/studyBoard/studyBoard.css"/>

    <!--    summber note 관련 테그-->

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!--    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>-->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
    <script src="/studyBoard/summerNote/summernote-ko-KR.js"></script>

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/board/css/board.css" rel="stylesheet">

    <!-- 새로운폼 css -->
    <link href="/studyBoard/css/css.css" rel="stylesheet">
    <link href="/studyBoard/css/style.css" rel="stylesheet">

    <!-- 끝-->

    <!--신고버튼 layer popup 처리-->

    <!--신고버튼 layer popup 처리-->


</head>

<body>

<!--헤더-->
<header th:replace="../templates/Baker/common/header.html ::header">
</header>

<main id="main">
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
        <div class="container">

        </div>
    </section><!-- End Clients Section -->

    <!--Slideshow header-->
    <div class="main_container">
        <div class="mySlides">
            <div class="text">
            </div>
        </div>

        <div class="caption-container">
        </div>

        <div class="row">
            <div class="column">
            </div>
        </div>
    </div>

    <!--    -->


    <!---->


    <div class="board_wrap">
        <div class="board_title">
            <strong><span th:text="${board.title}"></span></strong>
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt style="width: 970px; margin-bottom: 10px">
                            <img th:src="@{${savePath} + '/' + ${board.user.getMainEmotion()}}"
                                 style="width: 30px; height: 30px">
                            <span th:text="${board.user.getNickName()}"></span>

                        </dt>
                        <dt style="width: 970px;">
                            <span class="form-item-icon material-symbols-rounded" style="font-size: small">Event</span>
                         <span th:text="${#temporals.format(board.writeDate, 'yyyy-MM-dd HH:mm')}"></span>
                            <span class="form-item-icon material-symbols-rounded" style="font-size: small">Visibility</span>
                         <span th:text="${board.views}"></span>
<!--                            <button type="button" class="btn btn-danger" onclick="openPop()">신고하기</button>-->
                            <span class="form-item-icon material-symbols-rounded" style="font-size: small">Warning</span>
                            <a>신고하기</a>
                            <th:block th:if="${authUser != null}">
                                <th:block th:if="${board.user.getEmail() == authUser.email}">
                                    <a class="on">수정</a>
                                    <a class="on" th:href="@{'/board/delete/'+${board.id}}">삭제</a>
                                </th:block>
                            </th:block>
                        </dt>

                    </dl>
                    <hr>
                </div>

                <div class="cont">
                    <span th:utext="${board.content}"></span>
                </div>
            </div>

            <div class="bt_wrap">
                <!--                <a th:href="@{'/StudyBoard/read/'+${board.id}}">-->
                <!--                <a th:href="@{'/StudyBoard/recommend/'+${board.id}}" class="on">추천-->
                <a href="#" class="on">추천
                    <!--                    : <span th:text="${board.recommendation}"></span>-->
                </a>


            </div>

        </div>
    </div>



</main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer th:replace="../templates/Baker/common/footer.html ::footer">
</footer>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!--Slideshow header-->
<script src="/board/board.js"></script>


<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

<script>
    function myFunction() {
        var element = document.body;
        element.classList.toggle("dark-mode");
    }
</script>

</body>

</html>