<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/joinStyle.css"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0"/>
    <title>이용약관</title>
</head>
<body>


<div class="login-card-container">
    <div class="login-card">
        <div class="login-card-logo">
            <img src="/resources/jamboLogo.png" alt="logo" width="100px">
        </div>
        <div class="login-card-header">
            <h1>이용약관</h1>
            <div>회원가입을 통해 Jambo 에서<br> 더 많은 서비스를 즐겨보세요!</div>
        </div>
        <div style="overflow:scroll; width:300px; padding: 10px; height:250px; background-color:whitesmoke; margin: 0px 0px 0px 15px;">

            여러분을 환영합니다.<br>
            Jambo 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다.<br>
            본 약관은 다양한 네이버 서비스의 이용과 관련하여 Jambo 서비스를 제공하는 Jambo 주식회사(이하 Jambo)와 이를 이용하는 Jambo 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를
            설명하며,
            <br> 아울러 여러분의 Jambo 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.

            Jambo 서비스를 이용하시거나 Jambo 서비스 회원으로 가입하실 경우 여러분은 본 약관 및 관련 운영 정책을 확인하거나 동의하게 되므로,
            <br>잠시 시간을 내시어 주의 깊게 살펴봐 주시기 바랍니다.

            다양한 Jambo 서비스를 즐겨보세요.
            <p/>

        </div>
        <div class="form-item">

            <form action="/user/joinForm">
                <input type="checkbox"/>
                <button type="submit">동의</button>
                <button type="reset" onclick="javascript:history.back()">취소</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>