<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Jambo - Who We Are?</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="/team/qna_style.css">

  <link href="/assets/img/jamboLogo.ico" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <link href="/board/css/board.css" rel="stylesheet">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,600,0,0"/>
  <link rel="stylesheet" href="/studyBoard/studyBoard.css"/>



</head>
<body>
<header th:replace="../templates/common/header.html ::header"></header>


<div id="bbooddyy">
<!-- partial:index.partial.html -->
<div class="container">
  <h1 class="QnA_QA">Who We Wre</h1>
  <h1 class="QnA_mo">무엇이든 물어보잠보!</h1>
  <img src="/team/whoWeAre.gif" alt="whoWeAre" style="margin-left: 30%;">
</div>

<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Team</h2>
      <p>잠보의 개발자들을 소개합니다.</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="width: 20%">
        <div class="member">
          <div class="member-img">
<!--            <img src="../img/team1.gif" class="img-fluid" alt="">-->
            <img src="/team/team1.gif" class="img-fluid" alt="">
            <div class="social">
              <a href="https://github.com/nonoro"><img src="/team/github.png" class="img-fluids" alt=""></a>
<!--              <a href=""><img src="/team/notion.png" class="img-fluids" alt=""></a>-->
<!--              <a href=""><img src="/team/Instagram.png" class="img-fluids" alt=""></a>-->
<!--              <a href=""><img src="/team/blog.png" class="img-fluids" alt=""></a>-->
            </div>
          </div>
          <div class="member-info">
            <h4>권규정</h4>
            <span>Kwon GyuJeong</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="width: 20%">
        <div class="member">
          <div class="member-img">
            <!--            <img src="../img/team2.gif" class="img-fluid" alt="">-->
            <img src="/team/team2.gif" class="img-fluid" alt="">
            <div class="social">
              <a href="https://github.com/wormkent"><img src="/team/github.png" class="img-fluids" alt=""></a>
<!--              <a href=""><img src="/team/notion.png" class="img-fluids" alt=""></a>-->
<!--              <a href=""><img src="/team/twitter.png" class="img-fluids" alt=""></a>-->
<!--              <a href=""><img src="/team/Instagram.png" class="img-fluids" alt=""></a>-->
            </div>
          </div>
          <div class="member-info">
            <h4>강연아</h4>
            <span>Kang Yeona</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="width: 20%">
        <div class="member">
          <div class="member-img">
            <!--            <img src="../img/team3.gif" class="img-fluid" alt="">-->
            <img src="/team/team3.gif" class="img-fluid" alt="">
            <div class="social">
              <a href="https://github.com/Eric-JongYoung"><img src="/team/github.png" class="img-fluids" alt=""></a>
              <a href="https://www.instagram.com/jong._.0/"><img src="/team/Instagram.png" class="img-fluids" alt=""></a>
              <a href="https://m.youtube.com/@ericko2875"><img src="/team/youtube.png" class="img-fluids" alt=""></a>
              <a href="https://velog.io/@fgh1937"><img src="/team/blog.png" class="img-fluids" alt=""></a>
            </div>
          </div>
          <div class="member-info">
            <h4>고종영</h4>
            <span>Ko JongYoung</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="width: 20%">
        <div class="member">
          <div class="member-img">
            <!--            <img src="../img/team4.gif" class="img-fluid" alt="">-->
            <img src="/team/team4.gif" class="img-fluid" alt="">
            <div class="social">
              <a href="https://github.com/Baobabbd"><img src="/team/github.png" class="img-fluids" alt=""></a>
<!--              <a href=""><img src="/team/notion.png" class="img-fluids" alt=""></a>-->
<!--              <a href=""><img src="/team/Instagram.png" class="img-fluids" alt=""></a>-->
<!--              <a href=""><img src="/team/blog.png" class="img-fluids" alt=""></a>-->
            </div>
          </div>
          <div class="member-info">
            <h4>엄용식</h4>
            <span>Um YongSik</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="width: 20%">
        <div class="member">
          <div class="member-img">
            <!--            <img src="../img/team5.gif" class="img-fluid" alt="">-->
            <img src="/team/team5.gif" class="img-fluid" alt="">
            <div class="social">
              <a href="https://github.com/gyogyeong1"><img src="/team/github.png" class="img-fluids" alt=""></a>
<!--              <a href="https://www.notion.so/Project-e1fd13221eb049be84391aab481e58a3"><img src="/team/notion.png" class="img-fluids" alt=""></a>-->
<!--              <a href=""><img src="/team/Instagram.png" class="img-fluids" alt=""></a>-->
<!--              <a href="https://blog.naver.com/an_hyo99"><img src="/team/blog.png" class="img-fluids" alt=""></a>-->
            </div>
          </div>
          <div class="member-info">
            <h4>안효경</h4>
            <span>An HyoGyeong</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Team Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>회원 / 비회원</h2>
        <p>회원과 비회원의 활동 범위를 알려드립니다.</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">
              비회원으로 이용이 가능한가요?
            </a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>비회원으로 조회 정도의 제한적인 기능은 이용이 가능하십니다. 다만 참여나 개설 등은 회원가입 후 가능합니다.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">
              개인정보를 보여주고 싶지 않습니다. 비공개가 가능한가요?
            </a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>잠보에서는 민감정보 (이메일, 전화번호 및 기타정보) 등을 공개/비공개 선택 가능하도록 하고 있습니다. 안심하셔도 됩니다.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">
              회원정보 수정 및 탈퇴은 어디서 하나요?
            </a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>마이 페이지의 "회원정보수정"에서 수정 및 탈퇴가 가능합니다.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">
              다른 회원에게 연락할 수 있는 방법이 있나요?
            </a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>쪽지함으로 연락이 가능합니다. 개인정보 걱정없이 회원들에게 쪽지를 보내보세요.</p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>게시판</h2>
        <p>스터디 게시판, 자유 게시판, 정보 게시판, 공지사항까지 총 4종류의 게시판이 존재합니다.</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">
              내가 쓴 게시글만 모아서 보고 싶어요.
            </a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>내게 쓴 게시글은 "마이페이지"에서 확인 가능하며, 현재 레벨, 포인트 내역, 내가 모집 중인 스터디도 확인이 가능합니다.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">
              게시판에 불건전한 게시물을 올라왔습니다. 삭제해주세요.
            </a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>게시글의 글과 댓글은 회원의 신고가 가능하며, 신고 시 인증 절차를 걸쳐 삭제가 진행됩니다. 클린한 게시글 만들기에 동참해주세요.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">
              함께 스터디하는 사람들이 저랑 잘 맞을 지 모르겠어요.
            </a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>회원마다 원하는 조건과 성격이 다르기에 잠보는 MBTI와 사용 Skil, 원하는 개발자 직업 등을 확인하여 스터디 모임을 고를 수 있습니다.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">
              프로젝트에 참여하려면 어떻게 해야 하나요?
            </a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>프로젝트의 참여 여부는 프로젝트의 리더가 판단합니다. 지원하기를 누르시면, 프로젝트 리더가 확인하여 승인 시 프로젝트에 참여가 가능합니다.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">
              프로젝트를 개설하고 싶습니다.
            </a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>프로젝트 개설은 잠보 회원이라면 누구나 가능합니다. "스터디 그룹 게시판"에서 글쓰기 버튼을 눌러 개설하시면 됩니다.</p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>소.작.모</h2>
        <p>기업들과의 채용 기회를 얻을 수 있는 소소한 작품 공모전 이용 방법을 알려드립니다.</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">
              소.작.모를 통해 실제 기업을 연동해준다는 이야기가 사실인가요?
            </a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>사실입니다. 잠보는 기업의 요청을 받아 공모전을 통해 직접적인 연동을 도와주고 있습니다. 적극적인 참여 부탁드립니다.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">
              소.작.모에 참여하기만 해도 기업을 연동해주나요?
            </a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>공모전을 통해 최종 우승한 팀에게만 기업 연동의 기회가 주어집니다. 최선을 다해 멋진 결과를 보여주세요.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">
              소.작.모에 참여하려면 어떻게 해야 하나요?
            </a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>소.작.모는 누구나 참여가 가능한 토너먼트 공모전입니다. 16강으로 진행되며 좋아요 수가 더 많은 팀이 올라가게 되는 형식입니다.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">
              소작모? 무슨 의미인가요?
            </a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>소소한 작품 공모전의 줄임말 "소작모"입니다.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">
              소작모에서 우승 시, 기업에서 알아서 연락을 주나요?
            </a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>잠보가 1등 팀의 팀원들을 기업들에게 추천합니다. 추천 받은 기업들이 컨택하여 관심있는 팀원에게 연락할 것입니다. 기업들은 마이프로필을 통해 연락처를 알 수 있으니 개인정보 공개여부를 공개 처리하시길 추천드립니다.</p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>이모티콘 Shop</h2>
        <p>이모티콘 Shop 이용 방법을 알려드립니다.</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">
              이모티콘 Shop은 어디있나요?
            </a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>마이페이지의 "대표 아이콘 설정" 버튼을 통해 이동 가능합니다. 또한 메인 페이지에서도 이동이 가능합니다.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">
              이모티콘 종류가 다양한가요?
            </a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>이모티콘 종류는 기본, Basic, Animation으로 나눠져있습니다. 종류에 따라 구매 포인트가 다르게 형성되어 있습니다.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">
              이모티콘은 어떻게 얻을 수 있나요? 돈으로 살 수 있나요?
            </a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>게시판 글쓰기, 좋아요 수, 댓글 수 등을 통해 얻은 활동 포인트를 차감하여 구매가 가능합니다. 돈으로 살 수 있는 이모티콘은 존재하지 않습니다.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">
              구매한 이모티콘으로 바꾸려면 어떻게 해야 하나요?
            </a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>이모티콘 Shop에서 이모티콘 변경이 가능합니다.</p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <img src="/team/qna.gif" class="img-fluids" alt="">
            <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">
              포인트를 지급받고 싶습니다.
            </a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>포인트는 게시글 작성, 댓글, 좋아요, 프로젝트 및 모임 참여 등의 활동으로 지급이 가능합니다. 활발한 활동 부탁드립니다.</p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->


</div>
<!-- partial -->




<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js'>
</script>


</body>
</html>
