@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@font-face {
    font-family: 'jeju';
    src: url('./font/jejudoldam.woff') format('woff');
}

h1, h5, button {
    font-family: 'jeju';
}
h2{
    color: #35339a;
}
/* ---------- */

.stack{
    color: rgba(57, 53, 57,1);
    font-family: 'jeju';
    font-size: small;
}
.stackBtn{
    background-color: rgba(246, 219, 103, 1);
    border-radius: 15px;
    border: 0;
    outline: 0;
    font-family: 'Material Symbols Rounded';
}

